<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageConfigSave" fire="\QUI\ERP\Accounting\Payments\EventHandling::onPackageConfigSave"/>
    <event on="onPackageInstallAfter" fire="\QUI\ERP\Accounting\Payments\EventHandling::onPackageInstall"/>
    <event on="onQuiqqerOrderBasketToOrderEnd"
           fire="\QUI\ERP\Accounting\Payments\EventHandling::onQuiqqerOrderBasketToOrderEnd"
    />
    <event on="onErrorHeaderShowBefore" fire="\QUI\ERP\Accounting\Payments\EventHandling::onErrorHeaderShow"/>
    <event on="onUpdateEnd" fire="\QUI\ERP\Accounting\Payments\EventHandling::onUpdateEnd"/>
</events>
