.quiqqer-order-step-payments {
    --_payment-order-listEntry-padding: var(--payment-order-listEntry-padding, var(--_order-listEntry-padding, 1rem));
    --_payment-order-listEntry-bg: var(--payment-order-listEntry-bg, var(--_order-listEntry-bg, transparent));
    --_payment-order-listEntry-bg--hover: var(--payment-order-listEntry-bg--hover, var(--_order-listEntry-bg--hover, #f8f8f8));
    --_payment-order-listEntry-radius: var(--payment-order-listEntry-radius, var(--_order-listEntry-radius, 0.25rem));
    --_payment-order-listEntry-gap: var(--payment-order-listEntry-gap, var(--_order-listEntry-gap, 2rem));
    --_payment-order-listEntry-spacing: var(--payment-order-listEntry-spacing, var(--_order-listEntry-spacing, .5rem));
}

.quiqqer-order-step-payments form {
    margin-top: 1rem;
}

.quiqqer-order-step-payments-list-entry {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto max(25%, 150px) 1fr auto;
    grid-template-areas: 'select icon text price';
    gap: var(--_payment-order-listEntry-gap);
    padding: var(--_payment-order-listEntry-padding);
    border-radius: var(--_payment-order-listEntry-radius);
}

.quiqqer-order-step-payments-list-entry:not(:last-child) {
    margin-bottom: var(--_payment-order-listEntry-spacing, 0.25rem);
}

.quiqqer-order-step-payments-list-entry-select {
    grid-area: select;
    align-items: center;
    display: flex;
    text-align: center;
}

.quiqqer-order-step-payments-list-entry-select input {
    margin: 0;
}

.quiqqer-order-step-payments-list-entry:hover,
.quiqqer-order-step-payments-list-entry.selected {
    background-color: var(--_payment-order-listEntry-bg--hover);
}

.quiqqer-order-step-payments-list-entry-icon {
    grid-area: icon;
}

.quiqqer-order-step-payments-list-entry-icon img {
    max-width: 100%;
}

.quiqqer-order-step-payments-list-entry-text {
    grid-area: text;
}

.quiqqer-order-step-payments-list-entry-text label {
    cursor: pointer;
    font-size: var(--qui-fs-md, 1.125rem);
    font-weight: bold;
}

.quiqqer-order-step-payments-list-entry-text-description {
    font-size: var(--qui-fs-base, 1rem);
}

.quiqqer-order-step-payments-list-entry-text-description > p:last-child {
    margin-bottom: 0;
}

.quiqqer-order-step-payments-list-entry-text-supportedPayments {
    margin-top: 0.5rem;
}

.quiqqer-order-step-payments-list-entry-payments {
    grid-area: price;
    font-size: 1.125rem;
}

.quiqqer-order-step-payments-list-entry--notSupported {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .quiqqer-order-step-payments-list-entry {
        grid-template-areas:
                "select icon"
                ". text"
                ". price";
        grid-template-columns: 1.5rem 1fr;
        gap: 0 1rem;
    }
}
